:root {
  --border: 3px solid #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* fontsize at 10px */
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
  max-width: 1024px;
  background-color: rgb(39, 39, 38);
}

.header {
  position: relative;
}

.nav {
  position: absolute;
  width: 100%;
  z-index: 120;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-timing-function: ease;
}
.nav__logo {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 3px;
}
.nav__list {
  list-style-type: none;
  display: flex;
  align-items: center;
}
.nav__item {
  flex: 0 0 auto;
  padding: 0px 20px;
}
.nav__item:nth-child(1) {
  margin-right: auto;
}

.nav__link {
  display: block;
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
  letter-spacing: 2px;
  padding: 1.5rem 0;
  text-decoration: none;
  transition: background 0.3s ease;
}

.nav__link:hover {
  /* background: #000; */
  background: 51%;
}

.video-container {
  position: relative;
}
.video {
  object-fit: cover;
  width: 100%;
  height: 100vh;
}
.video-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  /* background: linear-gradient(rgba(178, 218, 245, 0.4), rgba(53, 53, 53, 0.4)); */
  z-index: 100;
}
.header__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  z-index: 110;
  color: #fff;
}

.header__title {
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 4rem;
  text-align: justify;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-timing-function: ease;
}

.header__sub-title {
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 4rem;
  text-align: justify;
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-timing-function: ease;
}
.header__text {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 4rem;
  letter-spacing: 2px;
  animation-name: fadeIn;
  animation-duration: 4s;
  animation-timing-function: ease;
}
.header__text-first {
  display: inline-block;
  margin-bottom: 2rem;
}
.header__text-second {
  display: inline-block;
}
.header__cta {
  display: block;
  padding: 1.5rem 4rem;
  font-family: inherit;
  font-size: 1.9rem;
  font-weight: 700;
  border: none;
  cursor: pointer;
  animation-name: fadeIn;
  animation-duration: 5s;
  animation-timing-function: ease;
  transition: all 0.3s ease;
}
.header__cta:hover {
  color: #fff;
  background: #000;
}

/* About Section */
.about {
  background: linear-gradient(rgb(20, 20, 20), rgb(53, 53, 53));
  min-height: 80vh;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 2rem;
}

.about__image-container .about__img-1,
.about__img-2 {
  display: block;
  width: 80%;
  filter: drop-shadow(4px 4px 5px #fff);
  border-radius: 20px;
  background-size: cover;
  margin: 0 auto;
}

.about__about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 3rem;
  color: #fff;
  text-align: justify;
}
.about__about-me .about__title {
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 2px;
}
.about__about-me .about__text {
  font-size: 1.7rem;
  letter-spacing: 2px;
  line-height: 1.4;
}
.about__about-me .about__text::first-letter {
  font-size: 3rem;
}

/* Section Photos */
.photos {
  background: #000;
  min-height: 100vh;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.photos__title {
  text-align: center;
  font-size: 4rem;
  font-weight: 300;
  color: #fff;
}
.photos__container img {
  display: block;
  width: 100%;
  object-fit: cover;
  filter: drop-shadow(2px 2px 5px #fff);
  transition: all 0.3s ease;
}
.photos__container img:hover {
  transform: scale(1.1);
  filter: none;
}
.photo__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}
.about__about-me {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* Contact Section */
.contact {
  min-height: 60vh;
  background: linear-gradient(rgb(20, 20, 20), rgb(53, 53, 53));
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.contact__title {
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: 2px;
}

.contact__form-group {
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
}
.contact__label {
  font-size: 3rem;
}
.contact__email {
  padding: 0.7rem 2rem;
  font-weight: 700;
  font-size: 2rem;
}
.contact__date {
  padding: 0.7rem 2rem;
  font-weight: 700;
}

.contact__text-area {
  font-size: 2rem;
  font-weight: 700;
}
.contact__btn {
  font-size: 2rem;
  font-weight: 700;
  padding: 0.5rem 2rem;
  font-family: inherit;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.contact__btn:hover {
  background: #111;
  color: #fff;
}

/* Footer */
.footer {
  background: #000;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  padding: 3rem;
}
.footer__list {
  list-style-type: none;
  display: flex;
  align-items: center;
}
.footer__link {
  text-decoration: none;
  margin-left: 3rem;
  transition: all 0.3s ease;
}
.footer__link:hover {
  opacity: 0.8;
}
.footer__copy {
  font-size: 1.5rem;
}
.fab {
  font-size: 4rem;
}
.face {
  color: #1877f2;
}
.twit {
  color: #1da1f2;
}
.insta {
  color: #c32aa3;
}

.container-hamburger {
  display: none;
}
@media (max-width: 800px) {
  html {
    font-size: 50.5%;
  }
  .video {
    height: 90vh;
  }
  .nav__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav__item:nth-child(1) {
    margin-right: 0;
  }
  .nav {
    position: absolute;
    /* width: 100%; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .nav__link {
    display: block;
    font-size: 5rem;
    font-weight: 300;
    margin-bottom: 4rem;
    transition: background 0.3s ease;
  }

  .header__content {
    display: none;
  }
}

@keyframes fadeIn {
  0% {
    /* transform: translateX(-900px); */
    opacity: 0;
  }

  100% {
    /* transform: translateX(0); */
    opacity: 1;
  }
}
/*
@keyframes enterFromRight {
  0% {
    transform: translateX(900px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
*/
